* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f637ec;
}
.card {
  color: white;
  width: 32rem;
  height: 25rem;
  background-color: #937dc2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(255, 11, 11),
    -0.1rem 0 0.1rem rgb(255, 0, 0);
  font-size: 1.2re;
}

.card-title {
  text-align: center;
  margin: 10px;
}
.icon {
  font-size: 3rem;
}
.form-field {
  margin-bottom: 1rem;
  margin-top: 30px;
}

.form-field > label {
  font-size: larger;
  margin-left: 40px;
}
input {
  border: none;
  border: 0.1rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
}

button {
  border: none;
  border: 0.1rem;
  border-radius: 0.6rem;
  padding: 0.8rem;
  font: bold;
  background-color: #231955;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
  margin-left: 40%;
  margin-bottom: 20px;
}
button:hover {
  background-color: #513252;
}

p {
  text-align: center;
}
.largeText {
  font-size: 18px;
  color: white;
}

#p1,
#p2 {
  font-size: 18px;
  margin: 10px;
  padding: 5px;
}

.wrong {
  color: yellow;
  font-weight: bold;
}
.right {
  color: aqua;
  font-weight: bold;
}
